header {
    width: 100%;
    min-height: 3.5rem;
    background: var(--color-menu);
    border-bottom: 2px solid var(--color-primary);
    display: flex;
    align-items: center;
    padding: var(--space-sm);
}

@media (min-width: 769px) {
    header {
        min-height: var(--header-height);
        padding: var(--space-sm) var(--space-lg);
    }
}



