/* css/layout/navigation.css */


nav {
    background: #333; /* Considera di sostituire con una variabile, es: var(--color-primary) */
    color: white;
    padding: var(--space-sm);
    width: 100%;
    align-items: center;

}


nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin-right: var(--space-md);
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
    font-size: 1.5rem;
    transition: color 0.2s;
}

nav a:hover {
    color: var(--color-primary-hover);
}


/* Gestione generale delle liste se serve */
li {
    list-style-type: none;
}

/* Footer (visto che è correlato alla navigazione a fondo pagina) */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}